<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Categories management</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</head>
<body>
<div sec:auhorize="hasRole('ROLE_USER')">
  <form action="#" th:action="@{/categories/save}" th:object="${category}"
        method="POST">
    <label for="name"> Name: </label>
    <input id="name" type="text" th:field="*{name}" placeholder="Product name"
           class="form-control mb-4 col-4">
    <label for="type">Subcategory: </label>
    <input id="type" type="text"
           th:field="*{subCategory}" placeholder="Product type"
           class="form-control mb-4 col-4">

    <button type="submit" class="btn btn-info col-2">Save
      Product
    </button>
  </form>
</div>
</body>
</html>