


:host .home {
  background-color: papayawhip;
  text-align: center;
}

:host .home a.button {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  text-decoration: none;
  color: black;

  border-radius: 20px;

  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

:host  .home a.button:hover {
  background-color: burlywood;
  cursor: pointer;
}

:host  .home nav {
  display: inline-block;
  margin: auto;
}
